@model IEnumerable<KerbalFlightRegister.Models.FlightCrew>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <span>Ajax Search</span>
    @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod="Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "crewListId" }))
    {
        @Html.Editor("searchTerm")
        <input type="submit" value="Search" />
    }
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_listCrewPartialView", Model)
