@model KerbalFlightRegister.Models.FlightCrewMostMissions

<span><b>@Model.Name</b> has gone on the most missions than anyone else at <b>@Model.NumberOfMissions</b>!</span><br />
<span>That's @Model.MoreThanNextHighest ahead of @Model.SecondPosition</span>