@page
    <div class="col-md-6 col-md-offset-3">
        <h2>There was a problem...</h2>
        <p>
            This page is show on any unhandled exception from ASP.Net. It's meant to be a way to present pretty error screens to users.
        </p>
        
        <br/>

        <p>In the world of KSP, a problem is usually running out of fuel and over a million kilometers from home. So really, you're pretty well off.</p>
        <img src="~/img/ApolloCSM.gif" />
    </div>