<div class="col-md-8 col-md-offset-2">
    <h2>@ViewBag.Title</h2>
    <p>Notes:</p>
    <ul>
        <li>Page created via MVC Razor Pages</li>
        <li>The most popular page to create when playing around with websites</li>
    </ul>
</div>