<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint contract="Kerbal.Contracts.IKerbalService"
                binding="netTcpBinding"
                address="net.tcp://localhost:8008/KerbalService"></endpoint>
      <endpoint contract="Kerbal.Contracts.IMessageService"
                binding="netTcpBinding"
                address="net.tcp://localhost:8008/MessageService"></endpoint>
    </client>
  </system.serviceModel>
</configuration>